<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
	<link rel="stylesheet" href="../static/css/forgetpwd.css" />
	<script type="text/javascript" src="../static/js/jquery1.11.3-jquery.min.js" ></script>
	<style type="text/css">
		.register-lin span{
			fon-size:12px;
			color:#f00;
			position: relative;
    		left: 75px;
    		float: left;

		}
	</style>
</head>
<body>
	<div class="contaner">
		<div class="register-info">
			<p class="register-title">信息管理系统</p>
			<div class="register-head">
				<p>找回密码</p>
			</div>
			<div class="register-data">
				<ul>
					<li class="register-lin">
						<lable>账号</lable>
						<input type="text" name="account" placeholder="请输入账号"><span></span>
					</li>
					<li class="register-lin">
						<lable>真实姓名</lable>
						<input type="text" name="name" placeholder="请输入真实姓名"><span></span>
					</li>
					<li class="register-lin">
						<lable>身份证号</lable>
						<input type="text" name="idcard" placeholder="请输入身份证号"><span></span>
					</li>
					<li class="register-lin">
						<lable>邮箱号码</lable>
						<input type="text" name="email" placeholder="请输入邮箱号码"><span></span>
					</li>
					<li class="register-lin">
						<lable>手机号码</lable>
						<input type="text" name="phone" placeholder="请输入手机号码"><span></span>
					</li>
					<li class="register-lin">
						<lable>新密码</lable>
						<input type="password" name="newpwd" placeholder="请输入新密码"><span></span>
					</li>
					<li class="register-lin">
						<lable>确认新密码</lable>
						<input type="password" name="newpwd1" placeholder="请再次输入新密码"><span></span>
					</li>
				</ul>
				<a class="register-btn" onclick="tiJiao()">找回密码</a>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../static/js/forgetpwd.js" ></script>
</html>
