<!DOCTYPE html>
<html lang="ch">
<head>
<meta charset="UTF-8">
<title>地域分布图</title>
<link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
<link rel="stylesheet" href="../static/css/p_regionalDistribution.css" />
<link rel="stylesheet" href="../static/css/china.css" />
</head>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/person_aa.js" ></script>
<script type="text/javascript" src="../static/js/china.js"></script>
<script type="text/javascript" src="../static/js/hover.js" ></script>
<style>
	html,body{height: 100%;}
</style>
<body>
	<!-- 内容顶部路由页显示 -->
	<p class="top_url_box box">
		<span>当前页面 ：</span><a>地域分布图</a>
	</p>
	<article class="arcbox box">
		<form action="" method="post">
			<span class="nzw_zl">农作物大类别 </span> 
			<select name="nzw_spacies" class="nzw_spacies" id="allcan"><option value="0">--请选择--</option><option value="1">水果类</option><option value="2">谷物类</option><option value="3">油料类</option><option value="4">坚果类</option><option value="5">香辛类</option><option value="6">饲料类</option></select> 
			<span class="nzw_zl">农作物种类 </span> 
			<select name="nzw_spacies" class="nzw_spacies" id="nzw_spacies">
				<option>--请选择--</option>
			</select> 
			<!-- 时间下拉框 -->
			<span>年份 </span>
			<span class="data_ymd">
			<select name="year" class="year" id="year" onchange="changeYear()">
				<option value="请选择" selected="">请选择</option>
			</select>
			<input class="search" id="find" type="button" value="搜索">
		
		</span></form></article>
	<article class="echartmap">
		<div id="main" class="echart_map">
			<iframe src="ee.html" id="mainiframe" width="100%" height="100%"  frameborder="no" border="0" iframe  name="if" scrolling="no"></iframe>

		</div>
		<script type="text/javascript">
			for(var i=2000;i<2051;i++){
				$("select[name=year]").append("<option value="+i+">"+i+"</option>");
				$("select[name=year]").find("option[value='"+new Date().getFullYear()+"']").attr("selected",true);
			}
			getKind();
			function getKind(){
				$.ajax({
					url:"${pageContext.request.contextPath }/rest/getKind",
					dataType:"JSON",
					async:false,
					success:function(obj){
						$("select[name=nzw_spacies]").empty();
						var spacies='';
						for(var i in obj){
							spacies+='<option value='+obj[i].id+'>&nbsp;&nbsp;'+obj[i].crop_species+'</option>';
						}
						$("select[name=nzw_spacies]").append(spacies);
					}
				});
			}

			getMapData();
			function getMapData(){
				//alert($("select[name=year]").val()+"_________"+$("select[name=nzw_spacies]").val());
				$.ajax({
					url:"${pageContext.request.contextPath }/rest/getMapData",
					data:"year="+$("select[name=year]").val()+"&spacies="+$("select[name=nzw_spacies]").val(),
					dataType:"JSON",
					success:function(map){
						var myChart = echarts.init(document.getElementById('main'));
						option = {
							title : {
								text : '单位：%',
								x : 'right'
							},

							tooltip : {
								trigger : 'item'
							},
							color:['red'],
							legend : {
								orient : 'vertical',
								x : 'left',
								data : [ '真菌污染率', 'DON', '伏马菌素', '玉米赤霉烯酮', '黄曲霉毒素总量',
								         '黄曲霉毒素B1', '黄曲霉毒素B2', '黄曲霉毒素G1', '黄曲霉毒素G2',
										'黄曲霉毒素M1', '黄曲霉毒素M2', '展青霉毒素', '赭曲霉毒素A' ],
								textStyle:{
									color:'black',
									fontSize:12
								},
								selected : {'真菌污染率' : true},
								selectedMode : 'single'
							},
							dataRange : {
								x : 'right',
								y : '30px',
								splitList : [
									{start : 200,end : 500,color : '#444444'},
									{start : 100,end : 200,color : '#aa0000'},
									{start : 50,end : 100,color : '#ff0000'},
									{start : 25,end : 50,color : '#ff8800'},
									{start : 0,end : 25,color : '#ffff00'},
								]
							},
							toolbox : {
								show : true,
								orient : 'vertical',
								x : 'right',
								y : 'center',
								feature : {
									mark : {show : true},
									dataView : {show : true,readOnly : false},
									restore : {show : true},
									saveAsImage : {show : true}
								}
							},
							roamController : {
								show : true,
								x : 'right',
								mapTypeControl : {'china' : true}
							},
							series : [{
							name : '真菌污染率',x:'230px',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data : map.wuranlv
							}, {
							name : 'DON',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.donlv
							}, {
							name : '伏马菌素',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.fmjslv
							}, {
							name : '玉米赤霉烯酮',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.ymcmlv
							}, {
							name : '黄曲霉毒素总量',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.yellowCountlv
							}, {
							name : '黄曲霉毒素B1',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.yellowB1lv
							}, {
							name : '黄曲霉毒素B2',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.yellowB2lv
							}, {
							name : '黄曲霉毒素G1',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.yellowG1lv
							}, {
							name : '黄曲霉毒素G2',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.yellowG2lv
							}, {
							name : '黄曲霉毒素M1',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.yellowM1lv
							}, {
							name : '黄曲霉毒素M2',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.yellowM2lv
							}, {
							name : '展青霉毒素',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.zhanqinlv
							}, {
							name : '赭曲霉毒素A',type : 'map',mapType : 'china',roam : false,
							itemStyle : {normal : {label : {show : true,textStyle : {color : "rgb(0, 0, 0)"}}},
							emphasis : {label : {show : true}}},
							data :map.zhequlv
							}]
						};
						myChart.setOption(option);
					}
				});
			}

			var msg='[{"name" : "北京","value" : 100},{"name" : "天津","value" : 50 },{"name" : "上海","value" : 10 },'
		            +'{"name" : "重庆","value" : 4  },{"name" : "河北","value" : 60 },{"name" : "河南","value" : 100},'
		            +'{"name" : "云南","value" : 5  },{"name" : "辽宁","value" : 0  },{"name" : "黑龙江","value" :40 },'
		            +'{"name" : "湖南","value" : 45 },{"name" : "安徽","value" : 33 },{"name" : "山东","value" : 70 },'
		            +'{"name" : "新疆","value" : 60 },{"name" : "江苏","value" : 50 },{"name" : "浙江","value" : 10 },'
		            +'{"name" : "江西","value" : 20 },{"name" : "湖北","value" : 1  },{"name" : "广西","value" : 1  },'
		            +'{"name" : "甘肃","value" : 1  },{"name" : "山西","value" : 1  },{"name" : "内蒙古","value" : 1 },'
		            +'{"name" : "陕西","value" : 1  },{"name" : "吉林","value" : 1  },{"name" : "福建","value" : 1  },'
		            +'{"name" : "贵州","value" : 1  },{"name" : "广东","value" : 100},{"name" : "青海","value" :100 },'
		            +'{"name" : "西藏","value" : 99 },{"name" : "四川","value" : 12 },{"name" : "宁夏","value" : 33 },'
		            +'{"name" : "海南","value" : 41 },{"name" : "台湾","value" : 24 },{"name" : "香港","value" : 33 },'
		            +'{"name" : "澳门","value" : 42 }]';
		         var qqq=JSON.parse(msg); */
			/* function toUpdatePwd(){
		   		$.ajax({
		   			url:"${pageContext.request.contextPath }/rest/toUpdatePwd",
		   			cache:false,
		   			success:function(res){

		   			}
		   		});
		 	} 
		</script>
		
	</article>

</body>
</html>