<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="stylesheet" type="text/css" href="../static/css/conmen-header.css"/>
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <link rel="stylesheet" href="../static/css/editdlb.css"/>
</head>
<body>
<div class="xtgl"><a class="dall user" href="superadmin.html">用户管理</a><a class="chart leibie dactive"
                                                                         href="categorylist.html">类别管理</a><a
        class="mps dusu" href="categorylist - dusu.html">毒素管理</a></div>
<div class="user-content"><p class="user-admin"><span>当前页面 : </span><a href="dlb.html">大类别管理/</a><a href="editdlb.html">修改类别</a>
</p>
    <div class="user-modify-infolist"><p class="user-modify-title">修改类别</p>
        <ul class="modify-list">
            <li class="list-item"><label>大类别名称</label><input type="text"/></li>
            <li class="list-item"><label>状态</label><input type="radio" name="isuse" value="1"
                                                          checked="checked"/>启用<input type="radio" name="isuse"
                                                                                      value="0"/>禁用
            </li>
        </ul>
        <div class="modify-option"><a class="user-modify" href="javascript:void(0)">修改</a><a class="modify-back"
                                                                                             onClick="history.go(-1)">返回</a>
        </div>
    </div>
    <div>
        <div class="addlb"><a href="toxinadd.html">新增类别</a></div>
        <table class="user-info">
            <tbody>
            <tr class="info-first info-item">
                <td>序号</td>
                <td>类别名称</td>
                <td>操作</td>
            </tr>
            <tr class="info-item">
                <td>6</td>
                <td>苹果</td>
                <td><a href="speciesedit.html" class="edit">编辑</a><a onclick="delte('6')" class="delete">删除</a></td>
            </tr>
            <tr class="info-item">
                <td>7</td>
                <td>梨</td>
                <td><a href="speciesedit.html" class="edit">编辑</a><a onclick="delte('7')" class="delete">删除</a></td>
            </tr>
            <tr class="info-item">
                <td>8</td>
                <td>葡萄</td>
                <td><a href="speciesedit.html" class="edit">编辑</a><a onclick="delte('8')" class="delete">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript"> function delte(id) {
    if (confirm("你确定要删除吗？")) {
        window.location.href = "categorydelete?id=" + id;
    } else {
        return false;
    }
}</script>
</body>
</html>
