<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改用户</title>
<link rel="stylesheet" type="text/css" href="../static/css/conmen-header.css"/>
<link rel="stylesheet" href="../static/css/reset.css" />
<link rel="stylesheet" href="../static/css/editdlb.css" />
</head>
<body>
<iframe src="common-header.html" id="mainiframe" width="100%" height="auto"  frameborder="no" border="0" iframe  name="if" scrolling="no"></iframe>
<div class="xtgl"> <a class="dall dactive user" href="superadmin.html">用户管理</a><a class="chart leibie" href="categorylist.html">类别管理</a><a class="mps dusu" href="categorylist - dusu.html">毒素管理</a> </div> 
<div class="user-content">
	<p class="user-admin"><span>当前页面 : <span><a href="dlb.html">大类别管理/</a></span><a class="active" href="editdlb.html">修改大类别</a></p>
  <div class="user-modify-infolist">
    <p class="user-modify-title">修改大类别</p>
    <ul class="modify-list">
      <li class="list-item">
        <label>大类别名称</label>
        <input type="text" />
      </li>
      <li class="list-item">
        <label>状态</label>
        <input type="radio" name="isuse" value="1" checked="checked" />
        启用
        <input type="radio" name="isuse" value="0" />
        禁用 </li>
    </ul>
    <div class="modify-option"> <a class="user-modify" href="javascript:void(0)">修改</a><a class="modify-back" onClick="history.go(-1)">返回</a> </div>
  </div>
  
</div>
</body>
</html>
