<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.message.dao.AddressTownMapper">
  <resultMap id="BaseResultMap" type="com.message.pojo.AddressTown">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="CHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cityCode" jdbcType="CHAR" property="citycode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, cityCode
  </sql>
  <select id="selectTownByTownName" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from address_town
    where name like CONCAT(#{name},"%")
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from address_town
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTown"  resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from address_town
    where cityCode = #{townCode}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address_town
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.message.pojo.AddressTown">
    insert into address_town (id, code, name, 
      cityCode)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{citycode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.message.pojo.AddressTown">
    insert into address_town
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="citycode != null">
        cityCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        #{citycode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.message.pojo.AddressTown">
    update address_town
    <set>
      <if test="code != null">
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        cityCode = #{citycode,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.message.pojo.AddressTown">
    update address_town
    set code = #{code,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      cityCode = #{citycode,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>